<header class="header">
    <a href="#" class="logo">Portfolio</a>

    <nav class="navbar" [class.open]="toggleMenu">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#experiences">Experiences</a>
        <a href="#contact">Contact</a>
    </nav>

    <a id="menu-icon" (click)="toggleMenu = !toggleMenu"
        ><i
            class="bx"
            [class.bx-menu]="!toggleMenu"
            [class.bx-x]="toggleMenu"></i
    ></a>
</header>
