.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);

    p {
        font-size: 1.6rem;
    }

    .footer-topIcon a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        background-color: var(--main-color);
        border-radius: 0.8rem;

        &:hover {
            box-shadow: 0 0 1rem var(--main-color);
        }

        i {
            font-size: 2.4rem;
            color: var(--second-bg-color);
        }
    }
}
