.content {
    background: var(--bg-color);
    border: .2rem solid var(--main-color);
}

.btn {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    justify-content: center;
}

p {
    font-size: 2rem;
    color: var(--text-color)
}