<section class="about">
    <div class="about-img" alt="">
        <img src="/assets/about-img.png" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Software Developer</h3>
        <p>
            I'm ready to contribute to the creation and maintenance of your applications. My first years as an engineer have allowed me to build up a solid experience in full-stack development which I am sure could significantly benefit your company.
        </p>
        <app-button>Read More</app-button>
    </div>
</section>