@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translatYe(0);
    }
}


.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    .about-img {
        img {
            width: 25vw;
            animation: floatImage 4s ease-in-out infinite;
        }
    }

    .heading {
        text-align: center;
        font-size: 4.5rem;
    }

    .about-content {
        h2 {
            text-align: left;
            line-height: 1.2;
        }

        h3 {
            font-size: 2.6rem;
        }

        p {
            font-size: 2rem;
            margin: 2rem 0 3rem;
        }

        span {
            color: var(--main-color);
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column-reverse;

        .about-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .heading {
            text-align: center;
        }

        h3 {
            flex-direction: column;
            text-align: center;
        }

        .about-img {
            img {
                width: 65vw;
            }
        }
    }
}
