<section class="experiences">
    <h2 class="heading">Latest <span>Experiences</span></h2>

    <div class="experiences-container">
        <div class="experience-box">
            <img src="assets/invoke.jpg" alt="" />
            <div class="experience-layer">
                <h4>Uloa Software (Invoke)</h4>
                <p>
                    As a young engineer, I took part in the development of a
                    modern web-based financial reporting solution.
                </p>
                <p>
                    I learned a lot about Angular and .NET, and I am now
                    comfortable working with these technologies.
                </p>
                <a href="https://invoke-software.com/fr/uloa/home.html"
                    ><i class="bx bx-link-external"></i
                ></a>
            </div>
        </div>
        <div class="experience-box">
            <img src="assets/youtube.jpg" alt="" />
            <div class="experience-layer">
                <h4>YouTube Creator</h4>
                <p>
                    Today, I'm making tutorials on YouTube to help other people
                    learn music production on FL Studio.
                </p>
                <p>Whether you are a music producer or not, subscribe !</p>
                <a
                    href="https://www.youtube.com/@MaslowBounce/?sub_confirmation=1"
                    ><i class="bx bx-link-external"></i
                ></a>
            </div>
        </div>
        <div class="experience-box">
            <img src="assets/music.jpg" alt="" />
            <div class="experience-layer">
                <h4>Music Artist</h4>
                <p>
                    I'm passionate about music production since 2018. I've
                    developed my own electronic style.
                </p>
                <p>
                    Feel free to check my songs and leave a like if you enjoyed
                    it !
                </p>
                <a href="https://linktr.ee/hephex"
                    ><i class="bx bx-link-external"></i
                ></a>
            </div>
        </div>
        <div class="experience-box">
            <img src="assets/automix.jpg" alt="" />
            <div class="experience-layer">
                <h4>Software development</h4>
                <p>
                    I joined a project that aimed to improve "Automix" : a
                    software that makes your DJ mixes for you !
                </p>
                <p>
                    I consolidated my skills in C# and worked with the SCRUM
                    team management method.
                </p>
                <a href="https://github.com/maximestevenot/AutomixSoftware"
                    ><i class="bx bx-link-external"></i
                ></a>
            </div>
        </div>
        <div class="experience-box">
            <img src="assets/vr.jpg" alt="" />
            <div class="experience-layer">
                <h4>Virtual Reality</h4>
                <p>
                    During my 2nd year internship, I traveled to Northern Irland
                    and build a VR museum application.
                </p>
                <p>
                    I worked in an international team composed of developers,
                    designers and scientists.
                </p>
            </div>
        </div>
        <div class="experience-box">
            <img src="assets/question.jpg" alt="" />
            <div class="experience-layer">
                <h4>Your project ?</h4>
                <p>
                    Let me help you with your project and maybe I'll add this
                    experience here one day !
                </p>
            </div>
        </div>
    </div>
</section>
