app-spinner {
    transform: translateY(-5%);
    transition: 1s ease-in;
}

.hide {
    display: none;
}

.animate {
    transform: translateY(-150%);
}

.scroll-container {
    position: relative;
}
