<app-background></app-background>

<ng-container>
    <app-spinner [class.animate]="animate" [class.hide]="off"></app-spinner>

    <div class="scroll-container" *ngIf="off">
        <app-header data-aos="fade-up"></app-header>

        <div class="scroll-area" id="home" data-aos="fade-up">
            <app-home></app-home>
        </div>

        <div class="scroll-area" id="about">
            <app-about></app-about>
        </div>

        <div class="scroll-area" id="services" data-aos="fade-right">
            <app-services></app-services>
        </div>

        <div class="scroll-area" id="experiences">
            <app-experiences></app-experiences>
        </div>

        <div class="scroll-area" id="contact" data-aos="fade-right">
            <app-contact></app-contact>
        </div>
    </div>
</ng-container>
