<div class="scroll-container">
    <app-header></app-header>
    <div class="scroll-area" id="home" data-aos="fade-right">
        <app-home></app-home>
    </div>
    <div
        class="scroll-area"
        id="about"
        data-aos="fade-right"
        data-aos-offset="300">
        <app-about></app-about>
    </div>
    <div
        class="scroll-area"
        id="services"
        data-aos="fade-right"
        data-aos-offset="300">
        <app-services></app-services>
    </div>
    <div
        class="scroll-area"
        id="experiences"
        data-aos="fade-right"
        data-aos-offset="300">
        <app-experiences></app-experiences>
    </div>
    <div class="scroll-area" id="contact" data-aos="fade-right">
        <app-contact></app-contact>
    </div>
</div>
