.services {
    h2 {
        margin-bottom: 5rem;
    }

    span {
        color: var(--main-color);
    }

    .heading {
        text-align: center;
        font-size: 4.5rem;
    }

    .services-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .services-box {
            flex: 1 1 30rem;
            background: var(--second-bg-color);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            border: .2rem solid var(--bg-color);
            transition: .3s;

            &:hover {
                border-color: var(--main-color);
                transform: scale(1.02);
            }

            i {
                font-size: 7rem;
                color: var(--main-color);
            }

            h3 {
                font-size: 2.6rem;
            }

            p {
                text-justify: auto;
                font-size: 1.6rem;
                margin: 1rem 0 3rem;
            }
        }
    }
}