<section class="services">
    <h2 class="heading">My <span>Services</span></h2>

    <div class="services-container">
        <div class="services-box">
            <i class="bx bx-code-alt"></i>
            <h3>Software Development</h3>
            <p>
                I have been working as a developer for the past few years and I find Angular and .NET to be the most interesting technologies.
                Designing and building apps has been my passion from the very beginning and my background is a testament to that.
                I always strive to create innovative and user-friendly solutions that are both visually appealing and functional.
            </p>
            <app-button>Read More</app-button>
        </div>
        <div class="services-box">
            <i class='bx bxs-music'></i>
            <h3>Music Production</h3>
            <p>
                I started making music in my student room by learning to create live mashups on my DJ controller. Since then, I've never stopped making the music I love.
                As an independent artist, I managed to reach the French community with my first release "La Strasbourgeoise" that received over 200,000 streams across all music platforms.
            </p>
            <app-button>Read More</app-button>
        </div>
        <div class="services-box">
            <i class='bx bxs-videos'></i>
            <h3>Video Editing</h3>
            <p>
                From a young age, I have had a passion for creating humorous content and editing videos in my free time. Currently, I am working on various personal projects on YouTube, where I have developed a strong skillset in video editing.
                In my pursuit of excellence, I always aim to present the best possible image and innovate with new approaches to content creation.
            </p>
            <app-button>Read More</app-button>
        </div>
    </div>
</section>