@use '@angular/material' as mat;
@include mat.core();
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

html,
body {
    height: 100%;
}

section {
    min-height: 100svh;
    padding: 10rem 9% 2rem;
}
