<section class="home">
    <div class="home-content">
        <h3>Hello, I am</h3>
        <h1>Raphaël</h1>
        <h3>
            And I'm a
            <app-animated-text></app-animated-text>
        </h3>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/raphael-herbert/"
                ><i class="bx bxl-linkedin"></i
            ></a>
            <a href="https://www.youtube.com/@MaslowBounce/?sub_confirmation=1"
                ><i class="bx bxl-youtube"></i
            ></a>
            <a
                href="https://open.spotify.com/artist/5A1TqTRF1EIq8pxd52EZTq?si=kge_r4OUSu-qJMaiy4reeA"
                ><i class="bx bxl-spotify"></i
            ></a>
            <a href="https://www.instagram.com/maslowfr/"
                ><i class="bx bxl-instagram-alt"></i
            ></a>
        </div>

        <app-button (click)="openDialog()">Download CV</app-button>
    </div>

    <!-- <app-three-d></app-three-d> -->
</section>
