<section class="home" id="home">
    <div class="home-content">
      <h3>Hello, my name is</h3>
      <h1>Raphaël</h1>
      <h3>And I'm a <span>Software Developer</span></h3>
      
      <p>
        As a French citizen, I grew up in the beautiful city of Caen, located in Normandy. 
        After completing my secondary education, I decided to pursue my passion for computer science and enrolled at the University of Caen to study this field.
      </p>
  
      <div class="social-media">
        <a href="#"><i class='bx bxl-linkedin'></i></a>
        <a href="#"><i class='bx bxl-youtube' ></i></a>
        <a href="#"><i class='bx bxl-spotify'></i></a>
        <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
      </div>
  
      <app-button>Download CV</app-button>
    </div>
  
    <div class="home-jpg">
      <img src="/assets/home-img.png" alt="">
    </div>
  </section>